*{
    padding: 0;
    margin: 0;
    border: none;
}
main{
    flex-wrap: wrap;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: 3px solid #29c26c;
    color: rgb(235, 243, 235);
    background-color: rgb(1, 1, 10);
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    color: #29c26c;
}

.curso{
    text-align: center;
    border-radius: 20px;
    background-color: #000;
    color: white;
    justify-content: center;
    width: 200px;
    border: 3px solid #29c26c;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}
.curso:hover{
    color: #29c26c;
}
.destaque{
    background-color: #888 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}
.ci{
    background-color: #444;
}
.c2{
    background-color: #444;
}
.caixa{
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}